[Desktop Entry]
Type=Application
Name=Geographic Location
Name[de]=Geographische Lage
Name[en_GB]=Geographic Location
Name[es]=Ubicación geográfica
Name[fr]=Position géographique
Name[pl]=Lokalizacja geograficzna
Name[ja]=地理的位置
Name[nl]=Geografische locatie
Name[zh_TW]=地理位置
GenericName=Geographic Location
GenericName[de]=Geographische Lage
GenericName[en_GB]=Geographic Location
GenericName[es]=Ubicación geográfica
GenericName[fr]=Position géographique
GenericName[pl]=Lokalizacja geograficzna
GenericName[ja]=地理的位置
GenericName[nl]=Geografische locatie
GenericName[zh_TW]=地理位置
Comment=Set your geographic location
Comment[de]=Stellen Sie Ihren geografischen Standort ein
Comment[en_GB]=Set your geographic location
Comment[es]=Establece tu ubicación geográfica
Comment[fr]=Définissez votre emplacement géographique
Comment[pl]=Skonfiguruj swoją lokalizację
Comment[ja]=地理的な場所を設定する
Comment[nl]=Stel uw geografische locatie in
Comment[zh_TW]=设定您的地理位置
Icon=user-home
Exec=env SUDO_ASKPASS=/usr/lib/rc-gui/pwdrcg.sh sudo -AE setlocation.sh
NotShowIn=GNOME;XFCE;
StartupNotify=true
Categories=Settings;DesktopSettings;GTK;X-LXDE-Settings;
