# File to be placed under /etc/systemd/system/
[Unit]
Description=Virtual GPS
After=multi-user.target gpsd.socket

[Service]
Type=idle
User=gpsd
ExecStart=/usr/bin/python3 /usr/bin/virtualgps.py
ExecStartPost=sleep 3
ExecStartPost=+/usr/sbin/gpsdctl add /tmp/vgps
ExecStopPost=+/usr/sbin/gpsdctl remove /tmp/vgps
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
