[Unit]
Description=Virtual GPS
After=multi-user.target gpsd.socket

[Service]
Type=idle
User=root
ExecStart=virtual-gps -v
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
