Source: virtualgps
Section: misc
Priority: optional
Maintainer: Radek Kaczorek <rkaczorek@gmail.com>
Build-Depends: debhelper (>= 9), cdbs, cmake (>= 2.4.7), cmake
Standards-Version: 3.9.1
Homepage: http://www.astroberry.io/

Package: virtualgps
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, gpsd
Recommends: apparmor-utils
Description: Virtual GPS simulates GPS receiver
 available on pseudo terminal
